TH5-ai_ingestion/TH5-ai_ingestion_v2.json
{
  "name": "TH5-ai_ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "13YfHOg2ZbSI7Q8Lyasl5UGh1N-g9Py_KlxyBTEG8Djc",
          "mode": "list",
          "cachedResultName": "TH5_IFC_LCA_Construction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13YfHOg2ZbSI7Q8Lyasl5UGh1N-g9Py_KlxyBTEG8Djc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13YfHOg2ZbSI7Q8Lyasl5UGh1N-g9Py_KlxyBTEG8Djc/edit#gid=0"
        },
        "options": {
          "columnsToWatch": [
            "Material",
            "Quantity",
            "EmissionFactor",
            "Module",
            "ObservationID",
            "ObservationType",
            "IFC_Class",
            "Activity",
            "LifecycleModule",
            "Unit",
            "CarbonResult",
            "Timestamp",
            "Description"
          ],
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -80
      ],
      "id": "491faaf9-fe80-4eae-b924-3ef728bd4a2a",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "OXXocqZtanGZ0eji",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    model: \"gpt-4o\",\n    temperature: 0.2,\n    messages: [\n      {\n        role: \"system\",\n        content: `\nYou are an ontology mapping assistant that converts construction lifecycle carbon observations into RDF triples. \nFollow the Semantic Digital Thread (SDT) pattern using these namespaces:\n\n@prefix sdt: <http://builtinsight.io/ontology/sdt#>.\n@prefix sosa: <http://www.w3.org/ns/sosa/>.\n@prefix prov: <http://www.w3.org/ns/prov#>.\n@prefix provx: <http://builtinsight.io/resource/prov/>.\n@prefix ifc: <http://ifcowl.openbimstandards.org/IFC4x3#>.\n@prefix ex: <http://builtinsight.io/resource/>.\n\nRules:\n1. Create one main :Observation node per record (ex:Observation_<ObservationID>).\n2. Link it to a :LifecycleModule node (ex:LifecycleModule_<LifecycleModule>).\n3. Link it to an :Activity node (ex:Activity_<Activity>).\n4. Link it to a :CarbonResult node (ex:CarbonResult_<ObservationID>).\n5. Use sdt:Quantity, sdt:Unit, sdt:EmissionFactor, sdt:CarbonResult, prov:generatedAtTime.\n6. Use sosa:featureOfInterest to connect IFC_Class URI.\n7. Create provenance connection: prov:wasGeneratedBy provx:Activity_<ObservationID>_<Timestamp>.\n8. Output must be valid Turtle (.ttl) format, concise, and syntactically correct.\n`\n      },\n      {\n        role: \"user\",\n        content: \"Convert this spreadsheet record into RDF triples with semantic relationships:\\n\" + JSON.stringify($json, null, 2)\n      }\n    ]\n  })\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -80
      ],
      "id": "d02e1c77-6051-4f97-86aa-68f693f1c81f",
      "name": "AI_ETL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "5MiqPJQvmX9GQknp",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Extract main content\nconst rawRDF = response.choices?.[0]?.message?.content || \"No RDF content found\";\n\n// Clean up and start from the first '@prefix'\nconst rdfContent = rawRDF.includes('@prefix')\n  ? rawRDF.substring(rawRDF.indexOf('@prefix')).replace(/```[a-z]*|```/g, '').trim()\n  : rawRDF.trim();\n\n// Return clean Turtle and metadata\nreturn [\n  {\n    json: {\n      rdf_content: rdfContent,\n      observation_id: response.id || null,\n      model: response.model || \"gpt-4o\",\n      timestamp: new Date().toISOString()\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -80
      ],
      "id": "b535b3f8-0caa-4abf-ba2d-0afdffbe9f7a",
      "name": "AI_Response_Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.0.180:7474/db/neo4j/tx/commit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"statements\": [\n    {\n      \"statement\": \"CALL n10s.rdf.import.inline($rdf, 'Turtle')\",\n      \"parameters\": {\n        \"rdf\": {{ JSON.stringify($json[\"rdf_content\"]) }}\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -80
      ],
      "id": "4b0d5597-3c63-4e3c-801d-79e9942d5607",
      "name": "Neo4j_Write_RDF",
      "credentials": {
        "httpBasicAuth": {
          "id": "nFOsWspuYuAz5AV6",
          "name": "Neo4j_Local"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const content = $json?.rdf_content;\n\nif (typeof content !== 'string' || !content.includes('@prefix')) {\n\tthrow new Error(\"Missing or invalid RDF content\");\n}\n\n// --- Locate RDF section ---\nconst lines = content.split('\\n');\nconst start = lines.findIndex(line => line.includes('@prefix'));\nlet end = lines.length;\nfor (let i = lines.length - 1; i >= 0; i--) {\n\tconst line = lines[i].trim();\n\tif (line.startsWith('ex:') && line.endsWith('.')) {\n\t\tend = i + 1;\n\t\tbreak;\n\t}\n}\n\n// --- Slice and clean ---\nconst rdf = lines.slice(start, end).join('\\n')\n\t.replace(/```/g, '')\n\t.replace(/\\\\n/g, '\\n')\n\t.replace(/\\\\\"/g, '\"')\n\t.replace(/`/g, '')\n\t.replace(/This RDF representation[\\s\\S]*$/i, '')\n\t.trim();\n\nreturn [{ json: { rdf_content: rdf } }];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -80
      ],
      "id": "3cc42530-491a-443a-a8a3-be5f8a37ad55",
      "name": "Extract_RDF_Content"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI_ETL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_ETL": {
      "main": [
        [
          {
            "node": "AI_Response_Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Response_Parser": {
      "main": [
        [
          {
            "node": "Extract_RDF_Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract_RDF_Content": {
      "main": [
        [
          {
            "node": "Neo4j_Write_RDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0468c479-4bc2-4653-a04b-16d132744bd9",
  "meta": {
    "instanceId": "0866b6da6f8174cd6a5afa13e946ed7b58e79fbf338531c89f0e2f0a08280be5"
  },
  "id": "sObo1d8ioIZ6ySOB",
  "tags": [
    {
      "createdAt": "2025-10-09T23:16:32.808Z",
      "updatedAt": "2025-10-09T23:40:16.879Z",
      "id": "WTd1DGrbrZd81fPX",
      "name": "Article_SDTCM"
    }
  ]
}